<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tracker-Tracks</title>

  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@300&family=Open+Sans&family=Roboto&display=swap"
    rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet" />

  <!-- Font awesome -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- Linking stylesheet -->
  <link rel="stylesheet" href="/css/add_track.css" />
</head>

<body>
  <!-- Nav-bar -->
  <div class="nav-bar">
    <div class="nav-brand">
      Tracker
    </div>
    <ul class="nav-links">
      <li>
        <a href="/dashboard"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
      </li>     
      <li>
        <a href="/dashboard/<%= _id %>/visulaise">
          <i class="fa fa-line-chart"></i>
          Visualise</a>
      </li>
      <li>
        <a href="/logout">
          <i class="fa fa-sign-out"></i>
          Logout</a>
      </li>
    </ul>
  </div>

  <div class="main">
    <h3>Add Track</h3>
    <h5>You can add a new Track here.</h5>

    <!-- success messages -->
    <% if (success_msg.length > 0) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <p><%= success_msg %></p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } %>
    
    <!-- unsucessful error messages -->
    <% if (error_msg.length > 0) { %>
    <div class="alert alert-danger alert-dismissible fade show container" role="alert">
      <p><%= error_msg %></p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <% } %>


    <div class="container">
      <form action="/dashboard/<%= _id %>/add" method="POST">
        <div class="form-group">

          <label for="trackName">Track: </label>
          <input class="form-control" type="text" autocomplete="off" placeholder="Track Name" name="trackName"
            required />

          <label for="category">Category: </label>
          <select name="category" class="form-control">
            <option>Exercise</option>
            <option>Language</option>
            <option>Studies</option>
            <option>Music</option>
            <option>Other</option>
          </select>


          <label for="goal">Goal: </label>
          <select name="goal" class="form-control">
            <option>1 hr/day</option>
            <option>2 hr/day</option>
            <option>3 hr/day</option>
            <option>4 hr/day</option>
          </select>


          <label for="comments">Add your comments: </label>
          <textarea name="comments" class="form-control" placeholder="Comments"></textarea>
        </div>

        <button class="btn btn-block" type="submit">Add Task</button>
      </form>


    </div>

    <p class="copyright">
      Radd, Copyright &#169; 2020, All rights reserved
    </p>

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"></script>
</body>

</html>